* {
    font-family: "JetBrainsMono Nerd Font Mono Bold";
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #c9d1d9;
}

tooltip {
    background: #0d1117;
    opacity: 1;
    border-radius: 8px;
}

tooltip label {
    color: #ffd33d;
}

#workspaces,
#window,
#idle_inhibitor,
#custom-updates,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#power-profiles-daemon,
#pulseaudio,
#clock,
#tray {
    background: #0d1117;
    opacity: 1;
    padding: 0px 10px;
    margin-top: 10px;
    min-width: 20px;
    border-radius: 8px;
}

#workspaces {
    padding: 0;
    margin-left: 10px;
}

#tray {
    margin-right: 10px;
}

#workspaces button.active {
    color: #28a745;
    background-color: #30363d;
}

#workspaces button {
    color: #8b949e;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #f85149;
}

#workspaces button:hover {
    background-color: #ffd33d;
}
